<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Video Service</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<div class="main">
		<div class="nav">
			<a href="/">home</a>
			<a href="/upload">upload</a>
		</div>
		<div class="videos">
			{% for video in data %}
				<video class="video" controls src="https://video-service2.s3.amazonaws.com/{{video.key}}"></video>
			{% endfor %}
		</div>
	</div>
</body>
</html>
