<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Video Service</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<div class="main">
		<h3>This form tries to upload to S3</h3>
		<div class="form">
			<input class="form__file" id="form__file" type="file" name="video" accept="video/*" method="post" enctype="multipart/form-data">
			<form>
				<input class="form__changes" type="text" name="changes" placeholder="video edit data">
				<button class="form__submit" type="submit">Send</button>
			</form>	
		</div>
	</div>
	<script src="/static/js/main.js"></script>
</body>
</html>
