<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Video Service</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
	<div class="main">
		<div class="nav">
			<a href="/">home</a>
			<a href="/upload">upload</a>
		</div>
		<h3>Upload your video</h3>
		<div class="tool meme-tool">
			<form>
				<input class="tool__file" type="file" name="video" accept="video/*" method="post" enctype="multipart/form-data">
				<textarea class="tool__changes" type="text" name="changes" placeholder="Enter caption" rows="6"></textarea>
				<button class="tool__submit" type="submit">Send</button>
			</form>	
		</div>
	</div>
	<script src="/static/js/main.js"></script>
</body>
</html>
